/* ==================================================================================================== *\
   Misc
\* ==================================================================================================== */

@charset "UTF-8";
@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

/* ==================================================================================================== *\
   Main
\* ==================================================================================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    user-select: none;
}

a {
    color: hsl(0, 0%, 50%);
}

a:hover {
    color: hsl(0, 0%, 75%);
}

canvas {
    cursor: none;
}

iframe {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* ==================================================================================================== *\
   Headings
\* ==================================================================================================== */

hgroup {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 1rem 0;
    position: absolute;
    top: 3%;
    text-align: center;
    opacity: 1;
    transition: all 0.2s linear;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    margin: 0 0 -1rem 0;
    font-size: 1rem;
    opacity: 0.5;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* ==================================================================================================== *\
   Level info
\* ==================================================================================================== */

#info {
    color: rgba(255, 255, 255, 0.5);
}

#info div {
    display: inline-block;
    margin: 0 1rem;
}

#difficulty {
    text-transform: capitalize;
}

/* ==================================================================================================== *\
   Common stuff
\* ==================================================================================================== */

.hide {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.5);
}

.hidden {
    display: none;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 1.5;
    transition: all 0.2s linear;
}

.modal {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 2rem 0;
    vertical-align: middle;
    text-align: center;
}

button {
    background: hsl(0, 0%, 80%);
    border: none;
    padding: 0.5rem 1rem;
    box-shadow: 0 0.5rem 0.5rem #000;
    font-size: 1.5rem;
    color: hsl(0, 0%, 25%);
    position: relative;
}

button:hover {
    background: hsl(0, 0%, 90%);
}

button:active {
    top: 0.1rem;
}

.link {
    display: block;
    margin: 2rem 0;
    text-decoration: none;
}

/* ==================================================================================================== *\
   Controls
\* ==================================================================================================== */

#controls-click {
    background: hsl(0, 0%, 80%);
    width: 5rem;
    height: 7rem;
    margin: 0 auto;
    box-shadow: 0 0.5rem 0.5rem #000;
    border-radius: 3.5rem 3.5rem 100% 100%;
    position: relative;
}

#controls-click:before, #controls-click:after {
    content: '';
    display: block;
    background: hsl(0, 0%, 25%);
    position: absolute;
}

#controls-click:before {
    height: 2.5rem;
    width: 0.25rem;
    top: 0;
    left: 50%;
    margin-left: -0.125rem;
}

#controls-click:after {
    height: 0.25rem;
    width: 100%;
    top: 2.5rem;
    left: 0;
}

#controls-left, #controls-right {
    width: 6rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    margin-top: -1rem;
}

#controls-left {
    background: linear-gradient(to right, hsl(0, 0%, 80%), hsla(0, 0%, 80%, 0));
    right: 5rem;
}

#controls-right {
    background: linear-gradient(to left, hsl(0, 0%, 80%), hsla(0, 0%, 80%, 0));
    left: 5rem;
}

#controls-left:before, #controls-right:before {
    content: '';
    display: block;
    border: 1rem solid transparent;
    position: absolute;
    top: 0;
}

#controls-right:before {
    border-left-color: hsl(0, 0%, 80%);
    right: -2rem;
}

#controls-left:before {
    border-right-color: hsl(0, 0%, 80%);
    left: -2rem;
}

#controls-desc {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#controls-desc p {
    margin-bottom: 0.25rem;
}

#controls-desc p:last-child {
    margin-top: 1rem;
}

#controls-move {
    position: relative;
    animation: controls 5s linear infinite;
}

#controls-button {
    background: hsl(0, 0%, 100%);
    width: 2.375rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.75rem 0 0 0;
}

/* ==================================================================================================== *\
   Loading
\* ==================================================================================================== */

#loading {
    background: #000;
}

#loader {
    width: 3rem;
    height: 3rem;
    margin: 1rem auto;
    border-radius: 50%;
    box-shadow: 0 -0.4rem 0 0 hsla(0, 0%, 100%, 1), -0.28rem -0.28rem 0 0 hsla(0, 0%, 100%, 0.75), -0.4rem 0 0 0 hsla(0, 0%, 100%, 0.5), -0.28rem 0.28rem 0 0 hsla(0, 0%, 100%, 0.25);
    animation: loading 0.5s linear infinite;
}

/* ==================================================================================================== *\
   Media queries
\* ==================================================================================================== */

@media (max-width: 1000px) {
    body {
        font-size: 12px;
    }
}